<!doctype html>
<title>PyData Madrid Check-in</title>
<form method="post">
    <p><input type="checkbox" id="photographs_consent" name="photographs_consent"><label for="photographs_consent">Autorizo la cesión de mis derechos de imagen para la publicación de fotografías</label></p>
    <p><input type="checkbox" id="email_consent" name="email_consent"><label for="email_consent">Autorizo recibir comunicaciones de los organizadores del evento y/o de la sede</label></p>
    <p><input type="email" id="email" name="email" inputmode="email" autocomplete="email"><label for="email">Email (dejar en blanco para no compartir)</label></p>
    <p><button type="submit">Confirmar asistencia</button></p>
</form>
